@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

.navbar{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
}
.header{

}
.navbar-nav{
    list-style-type: none;
    overflow:ellipse;
}

.nav-item {
    text-decoration: none;
}
.nav-item:hover{
    color: #ad0a7cd7;
} 

/* .nav-link{
    padding-bottom: 1rem;
    font-size: 17px;
    color: black;
    font-weight: 400 !important;
} */