@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

.navbar{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    flex-wrap: nowrap;
    gap: 1rem;
    /* position: fixed; */
}
.header{

}
.navbar-nav{
    list-style-type: none;
    overflow: hidden;
}

.side-item{
        list-style-type: none;
        margin-right: 3rem;
}

@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 0.5rem;
        flex-wrap: wrap;
    }
    .side-item {
        margin-right: 1.5rem;
    }
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: stretch;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        gap: 0.2rem;
    }
    .side-item {
        margin-right: 0.5rem;
    }
    .nav-item {
        font-size: 1rem !important;
    }
}

.nav-item {
    text-decoration: none;
}
.nav-item:hover{
    color: #ad0a7cd7;
} 

/* .nav-link{
    padding-bottom: 1rem;
    font-size: 17px;
    color: black;
    font-weight: 400 !important;
} */