
.app-root {
	min-height: 100vh;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	/* background-color: oklch(14.479% 0.00002 271.152); */
	flex-direction: column;
}

.app-main-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 2rem 1rem 2rem 1rem;
	box-sizing: border-box;
}

@media (max-width: 900px) {
	.app-main-content {
		padding: 1.5rem 0.5rem;
	}
}

@media (max-width: 600px) {
	.app-main-content {
		padding: 1rem 0.2rem;
	}
}
